@using Microsoft.AspNetCore.Identity
@using BloodDonation.Data.Models
@using BloodDonation.Common
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject BloodDonation.Services.Data.Donor.IDonorsService DonorsService

<ul class="navbar-nav ml-auto">
    <li class="nav-item mt-1 mr-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-medkit"></i> Начало
            </a>
        </button>
    </li>

    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(GlobalConstants.RecipientRoleName))
        {
            <li class="nav-item mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
                    <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Create">
                        <i class="fas fa-hand-holding-heart"></i> Молба за кръв
                    </a>
                </button>
            </li>

            <li class="nav-item  mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
                    <a class="nav-link" asp-area="" asp-controller="Recipient" asp-action="All">
                        <i class="fas fa-tasks"></i> Пуснати молби
                    </a>
                </button>
            </li>
        }
        else if (this.User.IsInRole(GlobalConstants.DonorRoleName))
        {
            <li class="nav-item  mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
                    <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="All">
                        <i class="fas fa-tasks"></i>> Всички молби
                    </a>
                </button>
            </li>

            <li class="nav-item  mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
                    <a class="nav-link" asp-area="" asp-controller="Donor" asp-action="All">
                        <i class="fas fa-hand-holding-heart"></i> Взети молби
                    </a>
                </button>
            </li>
        }

    }

    <li class="nav-item mt-1 mr-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index">
                <i class="far fa-newspaper"></i> Статии
            </a>
        </button>
    </li>

    <li class="nav-item mt-1 ml-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1">
            <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">
                <i class="fas fa-envelope-open-text"></i> Свържете се с нас
            </a>
        </button>
    </li>
</ul>