@using Microsoft.AspNetCore.Identity
@using BloodDonation.Data.Models
@using BloodDonation.Common
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject BloodDonation.Services.Data.Donor.IDonorsService DonorsService

<ul class="navbar-nav ml-auto">
    <li class="nav-item mt-1 mr-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1 text-white-50">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-medkit"></i> Начало
            </a>
        </button>
    </li>

    @if (this.SignInManager.IsSignedIn(this.User))
    {
        if (this.User.IsInRole(GlobalConstants.RecipientRoleName))
        {
            <li class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm mt-2 mb-1 text-white-50">Молби</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-danger btn-icon btn-sm dropdown-toggle mt-2 mb-1 mr-1 text-white-50" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <div class="dropdown-menu bg-primary text-info" aria-labelledby="btnGroupDrop1">

                        <a class="dropdown-item" asp-area="" asp-controller="Appointment" asp-action="Create">
                            <i class="fas fa-hand-holding-heart"></i> Молба за кръв
                        </a>

                        <a class="dropdown-item" asp-area="" asp-controller="Recipient" asp-action="AllAppointmentsApllyByRecipient">
                            <i class="fas fa-tasks"></i> Пуснати молби
                        </a>

                        <a class="dropdown-item" asp-area="" asp-controller="Recipient" asp-action="AllAppointmentsTookByDonor">
                            <i class="fas fa-tasks"></i> Взети молби
                        </a>
                    </div>
                </div>
            </li>

        }
        else if (this.User.IsInRole(GlobalConstants.DonorRoleName))
        {
            <li class="nav-item  mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1 text-white-50">
                    <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="All">
                        <i class="fas fa-tasks"></i>> Всички молби
                    </a>
                </button>
            </li>

            <li class="nav-item  mt-1 mr-1">
                <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1 text-white-50">
                    <a class="nav-link" asp-area="" asp-controller="Donor" asp-action="All">
                        <i class="fas fa-hand-holding-heart"></i> Взети молби
                    </a>
                </button>
            </li>
        }

    }

    <li class="nav-item mt-1 mr-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1 text-white-50">
            <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index">
                <i class="far fa-newspaper"></i> Статии
            </a>
        </button>
    </li>

    <li class="nav-item mt-1 ml-1">
        <button type="button" class="btn btn-outline-danger btn-icon btn-sm  m-0 m-md-1 text-white-50">
            <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">
                <i class="fas fa-envelope-open-text"></i> Свържете се с нас
            </a>
        </button>
    </li>
</ul>