@using BloodDonation.Common
@{
    this.Layout = "_BaseLayout";
}

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-8 g-mb-30 g-mb-0--lg">
                @this.RenderBody()
            </div>

            <div class="col-md-4">

                <div class="g-mb-20">
                    <partial name="_StatisticsPartial" />
                </div>

                <div class="g-mb-20">

                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10 mb-3">
                        <h3 class="h5 g-color-black mb-0 text-sm-center " style="background-color:royalblue"><u><b>Времето</b></u></h3>
                        <partial name="_WeatherWidgetPartial" />
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
<script src="~/js/lazy.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>

@await this.RenderSectionAsync("Scripts", required: false)
