@using BloodDonation.Common
@{
    this.Layout = "_BaseLayout";
}

<div class="container">
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-lg-8 g-mb-30 g-mb-0--lg">
                @this.RenderBody()
            </div>

            <div class="col-lg-4">
                <div class="g-mb-20">
                    <cache expires-after="@TimeSpan.FromSeconds(10)">
                        <vc:[donors-ranking]></vc:[donors-ranking]>
                    </cache>
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10 table-responsive-sm">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th> <h1 class="h4 g-color-black mb-0">Статистика за сайта:</h1> </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="col">Посещения:</th>
                                    <td scope="col">52</td>
                                </tr>
                                <tr>
                                    <th scope="col">Потребители:</th>
                                    <td scope="col">38</td>
                                </tr>
                                <tr>
                                    <th>Дарители:</th>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <th scope="col">Реципиенти:</th>
                                    <td>26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/lib/popper/popper.min.js" asp-append-version="true"></script>
<script src="~/js/lazy.js" asp-append-version="true"></script>
<script src="~/js/site.min.js" asp-append-version="true"></script>

@await this.RenderSectionAsync("Scripts", required: false)
