<a class="weatherwidget-io" href="https://forecast7.com/bg/42d1424d75/plovdiv/" data-label_1="Пловдив" data-label_2="Времето" data-theme="original">Пловдив Времето</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>