@using BloodDonation.Common
@{
    this.ViewData["Title"] = "Начална страница";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["Message"]
    </div>
}

@*<div class="bg-image" style=" background-image: url('https://healthmatters.nyp.org/wp-content/uploads/2020/01/Heart-Article-Hero-1200x500.gif'); height: 65vh; ">*@
        <h1 class="display-5 text-md-center bgw">Добре дошли в @GlobalConstants.SystemName!</h1>
        <hr class="bg-primary w-auto">
        <div>
            <p class="lead text-center" style="font-size: 24px; font-style: italic;">
                "Най-бързо развиващият се сайт за безвъзмездно кръводаряване в България."
                <br>
                "Ако се нуждаете от кръв за вас или ваш близък тук ще намерите вашите герои, които чакат за да Ви помогнат."
            </p>
        </div>
@*</div>*@
    

    <hr class="bg-primary w-auto" >

<div class="container container-fluid bg-neutral ">
    <h3 class="display-4 text-md-center">Блог статии</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col mb-3">
            <div class="card h-100 m-auto bg-primary">
                <img src="https://www.villageoflombard.org/ImageRepository/Document?documentId=3297" class="card-img-top  mr-3 pb-2 pl-2 pr-2 pt-2" alt="...">
                <div class="card-body text-center text-white">
                    <h5 class="card-title text-center text-muted">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <div class="d-grid d-md-flex justify-content-center">
                    <a href="#" class="btn btn-outline-danger btn-icon mb-3 ml-2 mr-2">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 m-auto bg-primary">
                <img src="https://www.villageoflombard.org/ImageRepository/Document?documentId=3297" class="card-img-top  mr-3 pb-2 pl-2 pr-2 pt-2" alt="...">
                <div class="card-body text-center text-white">
                    <h5 class="card-title text-center text-muted">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <div class="d-grid d-md-flex justify-content-center">
                    <a href="#" class="btn btn-outline-danger btn-icon mb-3 ml-2 mr-2">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 m-auto bg-primary">
                <img src="https://www.villageoflombard.org/ImageRepository/Document?documentId=3297" class="card-img-top  mr-3 pb-2 pl-2 pr-2 pt-2" alt="...">
                <div class="card-body text-center text-white">
                    <h5 class="card-title text-center text-muted">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <div class="d-grid d-md-flex justify-content-center">
                    <a href="#" class="btn btn-outline-danger btn-icon mb-3 ml-2 mr-2">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card h-100 m-auto bg-primary">
                <img src="https://www.villageoflombard.org/ImageRepository/Document?documentId=3297" class="card-img-top  mr-3 pb-2 pl-2 pr-2 pt-2" alt="...">
                <div class="card-body text-center text-white">
                    <h5 class="card-title text-center text-muted">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                <div class="d-grid d-md-flex justify-content-center">
                    <a href="#" class="btn btn-outline-danger btn-icon mb-3 ml-2 mr-2">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>