<div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
    <h3 class="h4 g-color-black mb-0">Топ 10 Дарители</h3>
</div>
<article class="media g-mb-10">

    <div class="media-body">
        <h1>from the other side</h1>
    </div>
</article>

<article class="media g-mb-10">
    <div class="media-body">
        <h3 class="h6">
            <a class="u-link-v5 g-color-black g-color-primary--hover">hello</a>
        </h3>
    </div>
</article>